.footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 12px;
    gap: 40px;

    a {
        color: white;
        text-decoration: none;
        transition: opacity 0.3s ease;

        &:hover {
            opacity: 0.7;
        }
    }
}